<h2>Make Some Calculations!</h2>
<form method="post" action="/math/calculator">
  <input type="number" name="left" value="0" step="any" required>
  and
  <input type="number" name="right" value="0" step="any" required>
  <button name = "operator" value = "reset">Reset</button> 
  </br>
  <button name = "operator" value = "add">+</button>
  <button name = "operator" value = "subtract">-</button>
  <button name = "operator" value = "multiply">*</button>
  <button name = "operator" value = "divide">/</button>
  <button name = "operator" value = "mod">%</button>
  <button name = "operator" value = "power">x<sup>y</sup></button>
  <button name = "operator" value = "triangle">&#9650;</button>
</form> 

 
